body {
    padding: 30px;
}

/* BACK BUTTON */

.back-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 10px;
}

/* HEADER */

header {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

/* Articles Box */

.articleBox {
    width: 90%;
    margin: 50px auto;
    padding-left: 10px;
    margin-bottom: 60px;
    margin-top: 50px;
    border: solid 2px gray;
    border-radius: 10px;   
}

.articleBox h2 {
    font-size: 35px;
}

.articleLink {
    display: block;
    text-decoration: none;
    color: inherit;
}

.clickToRead {
    margin-bottom: 20px;
    color: blue;
}


/* ARTICLES */

.articles {
    margin-bottom: 100px;
    margin-top: 50px;
    
}

.articles h2 {
    font-size: 35px;
    

}

.publish {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: -40px;
    width: 100%;
}

